/* Milestone 2 Website - Ashton Lye */
/* Website CSS */
.title {
    background-color: #FFFF66;
    text-align: center;
    padding: 10px;   
}

audio {
    margin-top: -50px;
    float: right;
    width: 20%;
}

.title h4 {
    float: right;
    margin-top: -75px;
    margin-right: 5%;
}

body {
    background-color: #EAF0AF;
}

/*Nav bar stuff*/
nav {
    background-color: #0080FF;
    width: 100%;
    height: 55px;  
}

nav a {
    color: #FFFFFF;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0080FF;
} 

nav li {
    float: left;
    width: 25%;
    display: block;
    text-align: center;
    line-height: 55px;
    box-sizing: border-box;
    border-right: 2px solid #ADD8E6;
}

li:last-child {
    border-right: none;
}

li:hover {
    background-color: #ADD8E6;
}

li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*mobile nav bar*/
nav.mobileNav {
    position: fixed;
    top: 180px;
    left: 0;
    display: none;
    background-color: #0080FF;
    width: 20%;
    height: 20px;  
}

nav.mobileNav li {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 55px;
    box-sizing: border-box;
    border-right: none;
    border-top: 2px solid #ADD8E6;
    background-color: #0080FF;
}

nav.mobileNav li:hover {
    background-color: #ADD8E6;
}


/*HOMEPAGE*/
/*Video formatting on homepage*/
iframe{
    border: none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 20%;
    height: 500px;
    float: left;
    margin: 2.5%;
    width: 95%;
    box-sizing: border-box;
}

.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
    position: relative;
    width: 100%;
    height: 500px;
}

.home {
    float: left;
    width: 100%;
}

.homeCol {
    width: 50%;
    float: left;
}

.homeCol h2 {
    float: left;
    width: 95%;
    padding: 2.5%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.homeCol p {
    float: left;
    width: 95%;
    padding: 2.5%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*UPCOMING GAMES PAGE*/
/*image formatting for the upcoming games page*/
.upcomingCol {
    width: 33%;
    height: auto;
    float: left;
    box-sizing: border-box;
}

.upcomingCol img {
    width: 70%;
    padding: 15%;
    padding-bottom: 0%;  
}

/*txt formatting for UG page*/

.upcomingCol h2 {
    float: left;
    width: 90%;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.upcomingCol p {
    float: left;
    width: 80%;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*SEARCH PAGE*/
/*search page formatting*/
.formDiv {
    display: block;
    width:50%;
    height:70px;
    margin: 0 auto;                
    margin-top:20px;
    margin-bottom: 0%;
                    
    text-align:center;
    line-height:100px;
}

.searchBox {
    width:60%;
}

.searchButton {
    width:30%;
}

/*formatting for dropdown menu on search page*/
.dropbtn {
    background-color: #0080FF;
    color: #FFFFFF;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    margin-left: 58%; 
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ADD8E6;
    min-width: 160px;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*image formatting for search page*/
.searchCol {
    width: 50%;
    height: auto;
    float: left;
    box-sizing: border-box;
}

.searchCol img {
    width: 60%;
    padding: 20%;
    padding-bottom: 0%;    
}

/*txt formatting for search page*/
.searchCol h2 {
    float: left;
    width: 60%;
    padding: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.searchCol p {
    float: left;
    width: 60%;
    padding: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*img animations*/
@keyframes imgspin {
    100% {
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

img:hover{
    animation-name: imgspin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/*title bar animation*/
@keyframes titlecolour {
    50% {
            background-color: #FF0000;
    }
    100% {
            background-color: #FFFF66;
    }
}

.title:hover{
    animation-name: titlecolour;
    animation-duration: 3s;
}

/*MOBILE LAYOUT*/
@media screen and (min-width: 100px) and (max-width: 550px) {

    .title{
        text-align: left;
    }

    audio {
        width: 40%;
    }

    nav.mobileNav {
        display: block;
    }

    nav li {
        line-height: 180%;
    }

    .videoWrapper {
        height: 200px;
        float: right;
    }

    .videoWrapper iframe,
    .videoWrapper object,
    .videoWrapper embed {
        height: 200px;
    }

    .homeCol {
        float: right;
        width: 70%;
    }

    .upcomingCol{
        float: right;
        width: 70%;
    }

    .searchCol {
        float: left;
        width: 100%;
    }
}